#p-menu {
  width: 100%;
  max-width: 1000px;
  background-color: #56494C; /* TODO #847E89 when item selected */
}

#p-content {
  width: 100%;
  max-width: 1000px;
}

#p-content-left {
  width: 50%;
  float: left;
  height: 100%;
  background-color: #C2D3CD;
}

#p-content-right {
  width: 50%;
  float: right;
  height: 100%;
}

#p-content-tuner {
  width: 100%;
  height: 50%;
  background-color: #9FA4A9;
}

#p-content-metronome {
  height: 50%;
  width: 100%;
  background-color: #AFBFC0;
}